<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
    <ion-item><h1>Filler</h1></ion-item>
  </ion-list>
  <ion-slides>
    <ion-slide>
      <ion-button (click)="onClick()">Click me</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
